* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 14px;
	position: relative;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #EFEFEE;
}

.contain {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;

}

.top-1 {
	display: flex;
	background-color: #EFEFEE;
	min-height: 54px;
	align-items: center;
}

.top-1-w {
	display: flex;
	justify-content: space-between;
}

.top-menu-1 {
	display: flex;
	align-items: center;
	gap: 54px;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

.top-menu-1 a {
	color: #2F3131;
	transition: 0.5s;
}

.top-menu-1 a:hover {
	color:#FFCC34;
	font-size: 17px;
}

.user-link {
	font-size: 16px;
	height: 26px;
	display:flex;
	align-items: center;
	padding-left: 54px;
	font-weight: 400;
	line-height: 19px;
	color: #2F3131;
	background-image: url(../img/user.svg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 23px;
	transition: 0.5s;

}

.user-link:hover {
	color:#FFCC34;
}

.top-2 {
	padding: 20px 0 16px 0;
	background: #ffffff;
}

.top-2-w {
	display: flex;
}

.logo {
	display: flex;
	align-items: center;
}

.logo span {
	color: #2F3131;
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	padding-left: 43px;
}

.logo-mini {
	display: none;
}

.top-2-contacts {
	display: flex;
	align-items: center;
	padding-left: 346px;
	gap: 42px;
}

.top-2-col {
	text-align: center;

}

.top-phone {
	display: block;
	color: #000000;
	font-size: 18px;
	margin-bottom: 6px;
}

.top-phone-label {
	color: #2f3131;
	font-size: 14px;
	font-weight: 700;
}

.top-2-btn {
	background-color: #FFCC34;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 14px 57px 14px 57px;
	border-radius: 7px;
	color: #2F3131;
	font-size: 14px;
	font-weight: 700;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
	height: 42px;
	padding-left: 64px;
	transition: 0.3s;
}

.top-2-btn:hover{
	background-color: #FFB734;
	scale: 105%;
}

.top-2-btn:active{
	background-color: #FFCC34;
	scale: 100%;
}

.top-2-btn-phone {
	background-color: #FFCC34;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px 19px;
	border-radius: 7px;
	color: #2F3131;
	font-size: 10px;
	font-weight: 700;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
	height: 35px;
	transition: 0.3s;
	width: 117px;
	display: none;
	text-align: center;
}

.header__burger-btn {
	width: 40px;
	height: 40px;
	border: none;
	position: relative;
	background: inherit;
	display: none;
	margin-left: 400px;
}

.header__burger-btn span {
	position: absolute;
	width: 30px;
	height: 3px;
	background: #00728F;
	left: 5px;
	border-radius: 25px;
}

.header__burger-btn span:nth-child(1) {
	transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
	transform: translateY(10px);
}

.top-2-btn-phone:hover{
	background-color: #FFB734;
	scale: 105%;
}

.top-2-btn-phone:active{
	background-color: #FFCC34;
	scale: 100%;
}

.top-3 {
	background-color: #00728F;
}


.top-menu-2 {
	display: flex;
	justify-content: center;
}

.top-menu-2 a {
	height: 57px;
	display: inline-flex;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	line-height: 23px;
	align-items: center;
	transition: 0.5s;
	padding: 0 50px;
}

.top-menu-2 a:hover {
	background-color: #0B5366;
}

.cta {
	height: 567px;
	background: url("../img/bg_start.jpg") no-repeat top center;
	padding-top: 106px;
}

.cta-contain {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;

}

.cta-left {
	max-width: 350px;
	position: relative;
	z-index: 1;
}

.cta-left::before {
	content: '';
	display: block;
	background: rgba(255, 255, 255, 0.8);
	filter: blur(70px);
	position: absolute;
	bottom: -17px;
	left: -60;
	width: 544px;
	height: 344px;
	z-index: -1;
}

.cta-title {
	color: #2F3131;
	font-size: 48px;
	line-height: 1.35;
	font-weight: 800;
	border-bottom: 3px solid #FFCC34;
	margin-bottom: 35px;
	padding-bottom: 9px;
}

.cta-subtitle {
	color: #000000;
	font-size: 18px;
	line-height: 1.1;
	font-weight: 400;
	max-width: 225px;
	font-family: 'Open sans', sans-serif;
}

.cta-right {
	width: 315px;
}

.cta-form {
	width: 100%;
	max-height: 315px;
	background: #ffffff;
	padding: 28px 39px 35px 39px;
	border-radius: 7px;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
	font-family: 'Open sans', sans-serif;
}

.cta-form-title {
	font-size: 24px;
	line-height: 55px;
	font-weight: 800;
	margin-bottom: 20px;
}

.cta-input {
	height: 46px;
	padding-left: 19px;
	border-radius: 8px;
	width: 230px;
	margin-bottom: 18px;
	border: 1px solid #ccc;
}

.cta-btn {
	padding: 15px 58px 15px 50px;
	border-radius: 8px;
	width: 230px;
	border: none;
	background: #FFCC34;
	color: #2F3131;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	text-align: center;
	transition: 0.5s;
	margin-bottom: 35px;
}

.cta-btn:hover{
	background-color: #FFB734;
	scale: 105%;
}

.cta-btn:active{
	background-color: #FFCC34;
	scale: 100%;
}

.advants {
	display: flex;
	justify-content: center;
	gap: 70px;
	background: #ffffff;
	max-width: 1396px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 2px 40px -15px rgba(47, 49, 49, 0.51);
	margin-top: -67px;
	padding-left: 87px;
	padding-right: 87px;
}

.advants-item {
	display: flex;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.advants-img-w {
	width: 88px;
	height: 88px;
	margin-right: 33px;
}

.advants-text {
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
}

.services {
	margin-top: 100px;
	background: #ffffff;
	margin-bottom: 106px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1450px;
}

.services-w {
	display: flex;
	gap: 33px;
	padding-top: 72px; 
	padding-bottom: 53px;
}

.services-img-w img {
	max-width: 320px;
	max-height: 250px;
	width: 100%;
	margin-bottom: 23px;
}

.services-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	color: #000000;
	margin-bottom: 27px;
}

.services-list-item {
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	color: #2f3131;
	margin-bottom: 10px;
}

.facts {
	padding-top: 100px;
	background: #ffffff;
	margin-bottom: -130px;
}

.facts-title {
	font-size: 48px;
	font-weight: 800;
	line-height: 65px;
	color: #000000;
	text-align: center;
}

.facts-w {
	display: flex;
	gap: 200px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
}

.facts-row {
	display: flex;
}

.facts-col {
	width: 50%;
	position: relative;
}

.facts-col span {
	font-weight: 900;
	font-size: 550px;
	color: #EFEFEE;
}

.facts-col-1 {
	
}

.facts-info {
	display: flex;
	gap: 50px;
	position: absolute;
	bottom: 72px;
	left: 230px;
	top: 100px;
	align-items: center;


}

.facts-info--2 {
	display: flex;
	gap: 50px;
	position: absolute;
	bottom: 72px;
	left: 10px;
	align-items: center;
	top: 100px;

}

.facts-info-num {
	background: #FFCC34;
	width: 198px;
	height: 180px;
	text-align: center;
	border-radius: 13px;
	box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.2);
}

.facts-info-num-1 {
	color: #2f3131;
	font-size: 96px;
	line-height: 112px;
	font-weight: 900;
	margin-bottom: -20px;
}

.facts-info-num-2 {
	color: #2f3131;
	font-size: 64px;
	line-height: 75px;
	font-weight: 900;
}

.facts-info-num--2 {
	color: #2f3131;
	font-size: 96px;
	line-height: 75px;
	font-weight: 900;
	background: #FFCC34;
	width: 198px;
	height: 180px;
	text-align: center;
	border-radius: 13px;
	display: flex;
	padding-top: 29px;
	padding-left: 24px;
	box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.2);
}

.facts-info-text-1 {
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	color: #2f3131;
	margin-bottom: 20px;
}

.facts-info-text-2 {
	font-size: 24px;
	font-weight: 900;
	line-height: 28px;
	color: #2f3131;
	width: 237px;
}

.facts-info-num-2-litle {
	color: #2f3131;
	font-size: 48px;
	line-height: 56px;
	font-weight: 900;
	margin-top: 40px;
}

.facts-2 {
	background:#016C88;
	padding-top: 38px;
	padding-bottom: 58px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.facts-2-w {
	display: flex;
	gap: 170px;
	justify-content: center;
}

.facts-2-item {

}

.facts-2-txt-1 {
	color: #ffffff;
	font-size: 70px;
	line-height: 82px;
	font-weight: 900;
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
	text-align: center;
	margin-bottom: 5px;
}
.facts-2-txt-2 {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
}

.advants-2 {
	padding-top: 109px;
	background: #EFEFEE;
	padding-bottom: 137px;
}

.advants-2-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	line-height: 65px;
	font-weight: 800;
	text-align: center;
	margin-bottom: 59px;
}

.advants-2-w {
	display: flex;
	gap: 39px;
	justify-content: center;

}

.advants-2-item {
	background: #ffffff;
	width: 236px;
	height: 280px;
	border-radius: 13px;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 45px;
}

.advants-2-img-w {
	height: 114px;
	margin-bottom: 34px;
	display: flex;
	flex-direction: column;
}

.advants-2-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	text-align: center;
	color: #2f3131;
}

.order {
	background: linear-gradient(#4AA2B8 100%, #0C8EAF 62%);
	height: 567px;
}

.order-img-w {
	display: flex;
	justify-content: flex-end;
	width: 1500px;
}

@media (max-width: 1600px) {
	.order-img-w {
		width: 1250px;
	}
}

.order-img-w img{
	width: 878px;
	display: block;
	margin: 0 ;
}

.order-w {
	padding-left: 134px;
}

.order-title {
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
	line-height: 55px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 38px;
	padding-top: 72px;
	text-align: center;
}

.order-title a {
	color: #ffcc34;
	font-size: 36px;
	font-weight: 800;
	line-height: 55px;
	font-family: 'Open Sans', sans-serif;
}

.order-form {
	max-width: 531px;
}

.order-input {
	padding-top: 24px;
	padding-left: 24px;
	padding-bottom: 20px;
	padding-right: 150px;
	border: none;
	border-radius: 8px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 26px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
}

.order-checkbox {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	line-height: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 41px;
	display: flex;
	align-items: center;
}

.order-checkbox input {
	width: 25px;
	height: 23px;
}

.order-checkbox span {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 16px;
}



.order-btn {
	background-color: #FFCC34;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 490px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 7px;
	color: #2F3131;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	border: none;
	white-space: nowrap;
	text-align: center;
}

.order-btn:hover{
	background-color: #FFB734;
	scale: 105%;
}

.order-2-btn:active{
	background-color: #FFCC34;
	scale: 100%;
}

.clients {
	position: relative;
	padding-top: 142px;
	overflow: hidden;
	background: #fff;
}

.clients-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 48px;
	line-height: 65px;
	color: #000000;
	text-align: center;
}

.clients-w {
	max-width: 1556px;
}

.slider {
	position: relative;
	padding-left: 30px;
	padding-right: 45px;
	padding-top: 60px;
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track{
	display: flex;
}

/* Стрелка */
.slider .slick-arrow{
	position: absolute;
	top: 28%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 55px;
	border: none;
}

/* Стрелка влево */
.slick-arrow.slick-prev{
	left: -1%;
	background: url(../img/arrow-left.svg) 0 0 / 100% no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next{
	right: -1%;
	background: url(../img/arrow-right.svg) 0 0 / 100% no-repeat;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled{

}

/* Точки (булиты) */
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	padding-top: 75px;
	padding-bottom: 136px;
}

.slider .slick-dots li{
	list-style: none;
}

/* Элемент точки */
.slider .slick-dots li button{
	font-size: 0;
	width: 15px;
	line-height: 15px;
	background: #E2E2E2;
	border: none;
	border-radius: 50%;
	transition: 0.5s;
}

/* Активная точка */
.slider .slick-dots li.slick-active button{
	background: #6b6b6b;
}

.slider .slick-dots li button:hover {
	background: #C4C4C4;
}

.contract-title {
	padding-top: 92px;
	text-align: center;
	font-size: 48px;
	font-weight: 800;
	font-family:'Open Sans', sans-serif;
	line-height: 65px;
	padding-bottom: 72px;
}

.contract-w {
	display: flex;
	flex-wrap: wrap;
	row-gap: 90px;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
}

.contract-info {
	display: flex;
	gap: 24px;
	width: 50%;


}

.contract-content {
	display: flex;
	flex-direction: column;
}

.contract-content-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 25px;
}

.contract-content-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	max-width: 277px;
}

.contract-text-end {
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	text-align: center;
	padding-bottom: 72px;
	padding-top: 53px;
}

.works {
	background: #ffff;
	padding-top: 128px;
	position: relative;
	overflow: hidden;
}


.works-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 48px;
	line-height: 65px;
	color: #000000;
	text-align: center;
	margin-bottom: 50px;
}

.slider-2 {
	position: relative;
	padding-left: 30px;
	padding-right: 45px;
	padding-top: 60px;
}

/* Ограничивающая оболочка */
.slider-2 .slick-list {
	overflow: hidden;
	margin-left: -50px;

}

/* Лента слайдов */
.slider-2 .slick-track{
	display: flex;
}

/* Стрелка */
.slider-2 .slick-arrow{
	position: absolute;
	top: 35%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 55px;
	border: none;
}

/* Стрелка влево */
.slider-2 .slick-arrow.slick-prev{
	left: -1%;
	background: url(../img/arrow-left.svg) 0 0 / 100% no-repeat;
}

/* Стрелка вправо */
.slider-2 .slick-arrow.slick-next{
	right: -1%;
	background: url(../img/arrow-right.svg) 0 0 / 100% no-repeat;
}

/* Точки (булиты) */
.slider-2 .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	padding-top: 75px;
	padding-bottom: 136px;
}

.slider-2 .slick-dots li{
	list-style: none;
}

/* Элемент точки */
.slider-2 .slick-dots li button{
	font-size: 0;
	width: 15px;
	line-height: 15px;
	background:#027795;
	border: none;
	border-radius: 50%;
	transition: 0.5s;
}

/* Активная точка */
.slider-2 .slick-dots li.slick-active button{
	background: #015F77;
}

.slider-2 .slick-dots li button:hover {
	background:  #027795;
}


.whatsapp {
	height: 615px;
	color: #ffffff;
	position: relative;
	background: url(../img/whatsapp_bg.jpg);
}

.whatsapp-w {
	padding-top: 135px;
	max-width: 550px;
	position: absolute;
	right: 280px;
}

.whatsapp-title span{
	font-size: 44px;
	font-weight: 900;
	line-height: 55px;
	color: #00AAD6;
}

.whatsapp-title p{
	font-size: 40px;
	font-weight: 900;
	line-height: 55px;
	margin-bottom: 27px;
}

.whatsapp-text {
	max-width: 485px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #757575;
	margin-bottom: 51px;
}

.whatsapp-phones {
	display: flex;
	gap: 31px;

}

.whatsapp-phones a {
	background: #fff;
	color: #2F3131;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	border-radius: 8px;
	padding: 11px 53px;
	transition: 0.5s;
}

.whatsapp-phones a:hover{
	background-color: #FFB734;
	scale: 105%;
}

.whatsapp-phones a:active{
	background-color: #FFCC34;
	scale: 100%;
}

.feadback {
	background: #EFEFEE;
	padding-top: 125px;
	padding-bottom: 77px;
}

.feadback-w {
}

.feadback-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 48px;
	line-height: 65px;
	color: #000000;
	text-align: center;
	margin-bottom: 50px;
}


.slider-item {
	display: flex;
	gap: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

.slider-content {
	background: #fff;
	border-radius: 30px;
	width: 490px;
	height: 345px;
	margin-top: 20px;
	margin-bottom: 30px;
	box-shadow: 0px 6px 30px 0px rgba(0, 72, 90, 0.4);

}

.slider-block {
	display: flex;
	align-items: center;
	gap: 15px;
	padding-left: 49px;
	padding-top: 40px;
	padding-bottom: 25px;
}

.slider-content-name {
	font-size: 26px;
	line-height: 23px;
	font-weight: 700;
}

.slider-content-btn {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: 700;
	background: #2F869D;
	border-radius: 8px;
	padding-left: 26px;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	text-align: center;
	width: 200px;
	margin-left: 49px;
}

.slider-content-text {
	padding-top: 40px;
	color: #2F3131;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	padding-left: 67px;
	padding-right: 20px;
	padding-bottom: 30px;
}

.slider-content-date {
	color: #000;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	padding-left: 65px;
}

.slider-3 {
	position: relative;
	padding-left: 30px;
	padding-right: 45px;
	padding-top: 60px;
}

/* Ограничивающая оболочка */
.slider-3 .slick-list {
	overflow: hidden;

}

/* Лента слайдов */
.slider-3 .slick-track{
	display: flex;
}

/* Стрелка */
.slider-3 .slick-arrow{
	position: absolute;
	top: 40%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 55px;
	border: none;
}

/* Стрелка влево */
.slider-3 .slick-arrow.slick-prev{
	left: -1%;
	background: url(../img/arrow-left-blue.svg) 0 0 / 100% no-repeat;
}

/* Стрелка вправо */
.slider-3 .slick-arrow.slick-next{
	right: -1%;
	background: url(../img/arrow-right-blue.svg) 0 0 / 100% no-repeat;
}

/* Точки (булиты) */
.slider-3 .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	padding-top: 57px;
}

.slider-3 .slick-dots li{
	list-style: none;
}

/* Элемент точки */
.slider-3 .slick-dots li button{
	font-size: 0;
	width: 15px;
	line-height: 15px;
	background: #FFD075;
	border: none;
	border-radius: 50%;
	transition: 0.5s;
}

.slider-3 .slick-dots li button:hover {
	background: #FFC046;
}

/* Активная точка */
.slider-3 .slick-dots li.slick-active button{
	background: #FFB72D;
}

.news {
	background: #fff;
	padding-top: 100px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.news-title {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: 65px;
	margin-bottom: 40px;
}

.news-w {
	display: flex;
	gap: 70px;
	padding-bottom: 140px;
	justify-content: center;
}

.news-cart {
	width: 440px;
	box-shadow: 0px 6px 30px 0px rgba(215, 215, 215, 1.0);
	border-radius: 7px;
	padding-top: 27px;
	padding-right: 33px;
	padding-left: 32px;
	position: relative;
}

.news-subtitle {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 22px;
	line-height: 25px;
	padding-top: 32px;
	border-bottom: 4px solid #2F869D;
	padding-bottom: 14px;
	text-align: center;
}

.news-text {
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	padding-top: 22px;
	padding-bottom: 75px;
}

.news-date {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	position: absolute;
	bottom: 0;
	padding-bottom: 30px;
}

.news-btn {
	background-color: #FFCC34;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 390px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 7px;
	color: #2F3131;
	font-size: 24px;
	font-weight: 700;
	line-height: 25px;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	border: none;
	white-space: nowrap;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
}

.news-btn:hover{
	background-color: #FFB734;
	scale: 105%;
}

.news-btn:active{
	background-color: #FFCC34;
	scale: 100%;
}

.connection {
	background: #fff;
	position: relative;
}

.connection-title {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: 65px;
	margin-bottom: 40px;
	padding-top: 120px;
}

.connection-w {
	background: #07627D;
	padding-top: 50px;
	display: flex;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);

}


.connection-form {
	display: flex;
	flex-direction: column;
	margin-left: 150px;
	margin-top: 50px;
}

.connection-form input {
	width: 265px;
	border-radius: 8px;
	border: none;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
	color: #BEBEBE;
}

.connection-form textarea {
	width: 265px;
	border-radius: 8px;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
	color: #BEBEBE;
	padding-left: 15px;
	padding-top: 10px;
	margin-bottom: 20px;
	height: 135px;
}

.connection-form button {
	width: 265px;
	border-radius: 8px;
	margin-bottom: 12px;
}

.connection-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	color:rgba(119, 170, 185, 1) ;
	width: 245px;
	padding-bottom: 36px;
}

.connection-social {
	box-shadow: 0px 4px 20px 0px #004c63;
	margin-left: 160px;
	padding-left: 129px;
	padding-top: 42px;
	margin-bottom: 58px;
	margin-top: 7px;
	display: flex;
	justify-content: center;
}

.social-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	background: #F9BA32;
	margin-bottom: 16px;
	padding-top: 19px;
	padding-bottom: 15px;
	padding-left: 56px;
	padding-right: 72px;
	border-radius: 8px;
	margin-right: 200px;
}

.connection-form button {
	background-color: #FFCC34;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 14px 57px 14px 57px;
	border-radius: 7px;
	color: #2F3131;
	font-size: 14px;
	font-weight: 700;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
	height: 42px;
	padding-left: 64px;
	transition: 0.3s;
	border: none;
}

.connection-form button:hover{
	background-color: #FFB734;
	scale: 105%;
}

.connection-form button:active{
	background-color: #FFCC34;
	scale: 100%;
}

.connection-img {
	width: 800px;
	height: 535px;
	display: block;
	margin: 0 ;
	position: absolute;
	top: 29.5%;
	right: 0;
}

.footer {
	background: #00485A;
}

.footer-w {
	display: flex;
	justify-content: space-between;
	gap: 150px;
	padding-top: 65px;
	padding-bottom: 50px;
}

.footer-company a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	display: block;
	padding-bottom: 10px;
	opacity: 0.8;
	transition: 0.3s;
}

.footer-company a:hover {
	color:#FFCC34;
}

.footer-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 24px;
	line-height: 33px;
	color: #fff;
	padding-bottom: 20px;
	white-space: nowrap;

}

.footer-office li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 19px;
	color: #fff;
	padding-bottom: 10px;
	opacity: 0.8;
}

.footer-home li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 19px;
	color: #fff;
	padding-bottom: 10px;
	opacity: 0.8;
}

.footer-logo-list li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #ffffff;
	padding-bottom: 10px;
	opacity: 0.8;
}

.footer-logo-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 15px;
	font-weight: 700;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 15px;
}

.footer-license {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
	color: #fff;
	opacity: 0.5;
	display: block;
	padding-bottom: 30px;
}