@media (max-width: 1800px) {
	.connection-img {
		display: none;
	}
}

@media (max-width: 1700px) {
	.whatsapp-w {
		right: 200px;
	}
}

@media (max-width: 1500px) {
	.whatsapp-w {
		right: 150px;
	}

	.news-w {
		display: flex;
		gap: 10px;
		padding-bottom: 140px;
		justify-content: center;
	}
}

@media (max-width: 1400px) {
	.whatsapp-w {
		right: 100px;
	}

	.whatsapp {
	color: #ffffff;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -100px;
	}
}

@media (max-width: 1300px) {
	.whatsapp-w {
		right: 50px;
	}

	.whatsapp {
	color: #ffffff;
	position: relative;
	background: url(../img/whatsapp_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -150px;
	}
}

@media (max-width: 1200px) {
	.whatsapp-w {
		right: 50px;
	}

	.whatsapp {
	color: #ffffff;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -200px;
	}
}

@media (max-width: 1200px) {
	.whatsapp-w {
		right: 100px;
		padding-top: 75px;
	}

	.whatsapp {
	color: #ffffff;
	position: relative;
	height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -200px;
	}

	.whatsapp-title p {
		margin-bottom: 15px;
	}

	.whatsapp-text {
		margin-bottom: 25px;
	}
}

@media (max-width: 1000px) {
	.whatsapp-title p {
		font-size: 36px;
		line-height: 55px;
	}

	.whatsapp-title span {
		font-size: 36px;
		line-height: 55px;
	}

	.whatsapp-phones a {
		padding: 11px 30px;
	}

	.whatsapp-text {
		font-size: 18px;
		line-height: 20px;
		width: 300px;
	}
}

@media (max-width: 900px) {
	.whatsapp {
		height: 400px;
	}

	.whatsapp-w {
		padding-top: 50px;
	}
}

@media (max-width: 840px) {
	.whatsapp-w {
		right: 50px;
	}
}

@media (max-width: 768px) {
	.whatsapp {
		height: 300px;
		background-position: -100px;
	}

	.whatsapp-w {
		padding-top: 40px;
		right: 100px;
	}

	.whatsapp-title p {
		font-size: 24px;
		line-height: 35px;
	}

	.whatsapp-title span {
		font-size: 24px;
		line-height: 35px;
	}

	.whatsapp-phones a {
		padding: 5px 15px;
		font-size: 12px;
	}

	.whatsapp-phones {
		gap: 10px;
	}

	.whatsapp-text {
		font-size: 14px;
		line-height: 20px;
		width: 300px;
	}
}

@media (max-width: 680px) {
	.whatsapp-w {
		right: 50px;
	}

	.whatsapp {
		background-position: -150px;
	}
}

@media (max-width: 560px) {
	.whatsapp {
		height: 250px;
		background-position: -150px;
	}

	.whatsapp-w {
		padding-top: 20px;
	}
}

@media (max-width: 500px) {
	.whatsapp {
		height: 900px;
		background-image: url(../img/Whatsapp_GR.jpg);
		background-repeat: no-repeat;
		background-position: 0px;
		
	}

	.whatsapp-w {
		padding-top: 20px;
		top: 500px;
		right: auto;
		left: 100px;

	}

	.whatsapp-phones {
		display: flex;
		flex-direction: column;
		width: 160px;
		gap: 10px;
		margin-left: 60px;
	}

	.whatsapp-phones a {
		padding: 5px 5px;
		text-align: center;
	}

	.whatsapp-title p {
		font-size: 28px;
		line-height: 35px;
	}

	.whatsapp-title span {
		font-size: 28px;
		line-height: 35px;
	}

	.whatsapp-phones a {
		padding: 5px 15px;
		font-size: 12px;
	}

	.whatsapp-phones {
		gap: 10px;
	}

	.whatsapp-text {
		font-size: 14px;
		line-height: 20px;
		width: 300px;
	}
}

@media (max-width: 460px) {
	.whatsapp-w {
		left: 75px;
	}

	.whatsapp-phones {
		margin-left: 50px;
	}
}

@media (max-width: 425px) {
	.whatsapp-w {
		left: 50px;
	}

	.whatsapp-phones {
		margin-left: 50px;
	}
}

@media (max-width: 425px) {
	.whatsapp-w {
		left: 50px;
	}

	.whatsapp-phones {
		margin-left: 50px;
	}

	.whatsapp-title p {
		font-size: 24px;
		line-height: 35px;
	}

	.whatsapp-title span {
		font-size: 24px;
		line-height: 35px;
	}
}

@media (max-width: 360px) {
	.whatsapp-w {
		left: 20px;
	}

	.whatsapp-phones {
		margin-left: 50px;
	}
}

@media (max-width: 1320px) {
	.top-1 {
		margin-left: 20px;
		margin-right: 20px;
	}

	.top-menu-1 {
		margin-left: 20px;
		margin-right: 20px;
	}

	.top-2-w {
		margin-left: 20px;
		margin-right: 20px;
	}

	.top-2-btn {
		margin-right: 20px;
	}

	.top-2-contacts {
		padding-left: 250px;
	}

	.top-menu-2 a{
		padding: 0 35px;
	}

	.advants {
		gap: 20px;
	}
}

@media (max-width:1230px) {
	.top-3-w {
		width: 1200px;
	}

	.top-2-contacts {
		padding-left: 200px;
	}

}

@media (max-width: 1170px) {
	.top-2-contacts {
		padding-left: 150px;
	}

	.top-menu-1 {
		gap: 40px;
	}

	.top-menu-2 a {
		font-size: 18px;
		line-height: 20px;
		padding: 0 30px;
	}

	.advants-item {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.advants-text {
		font-size: 14px;
		line-height: 16px;
	}

	.advants-img-w {
		margin-right: 20px;
	}

	.advants {
		padding-left: 25px;
		padding-right: 25px;
		gap: 60px;
	}

@media (max-width: 1110px) {
	.top-2-contacts {
		padding-left: 100px;
	}

	.top-menu-2 a {
		padding: 0 20px;
	}

	.top-3-w {
		width: 1050px;
	}

	.cta-left {
		margin-left: 50px;
	}

	.cta-right {
		margin-right: 50px;
	}

	.cta-left::before {
		left: -40px;
	}

}

@media (max-width: 1060px) {
	.top-2-contacts {
		padding-left: 100px;
		gap: 20px;
	}

	.top-menu-1 {
		gap: 30px;
	}

	.top-2-btn {
		padding: 14px 40px 14px 40px;
	}

	.advants {
		padding-left: 25px;
		padding-right: 25px;
		gap: 40px;
	}
}

@media (max-width: 1020px) {
	.top-phone {
		font-size: 16px;
	}

	.top-2-contacts {
		padding-left: 150px;
	}

	.top-menu-2 a {
		padding: 0 15px;
	}

	.top-3-w {
		width: 1000px;
	}
}

@media (max-width: 1000px) {
	.top-phone {
		font-size: 16px;
	}

	.top-2-contacts {
		padding-left: 100px;
	}

	.cta-title {
		font-size: 44px;
	}
}

@media (max-width: 970px) {

	.top-3-w {
		width: 900px;
		margin-left: 10px;
		font-size: 16px;
	}
}

@media (max-width: 940px) {
	.top-menu-1 {
		font-size: 14px;
	}

	.user-link {
		font-size: 14px;
		padding-left: 40px;
	}

	.logo {

	}

	.logo span {
		font-size: 12px;
	}

	.top-phone {
		font-size: 14px;
	}

	.top-phone-label {
		font-size: 12px;
	}

	.top-2-btn {
		font-size: 12px;
		padding: 10px 19px;
	}

	.top-2-contacts {
		margin-left: 70px;
	}

	.top-2 {
		padding: 10px 0px 5px 0px;
	}

	.top-menu-2 a {
		font-size: 12px;
		gap: 70px;
		padding: 0 30px;
		height: 30px;
	}

	.top-3-w {
		width: 100%;
		margin-left: -190px;
		padding: 5px 0;
	}

	.cta {
		padding-top: 50px;
		height: 450px;
	}

	.cta-right {
		width: 200px;
		height: 187px;
		margin-right: 130px;
	}

	.cta-form-title {
		font-size: 12px;
		text-align: center;
		margin-bottom: 11px;
	}

	.cta-form {
		padding: 20px 25px 30px 25px;

	}

	.cta-input {
		height: 27px;
		width: 137px;
		margin-bottom: 11px;
		font-size: 8px;
		margin-left: 5px;
	}

	.cta-btn {
		font-size: 8px;
		padding: 8px 5px 6px 5px;
		width: 137px;
		margin-left: 5px;
	}

	.cta-title {
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 20px;
	}

	.cta-subtitle {
		font-size: 16px;
		line-height: 14px;
	}

	.cta-left {
		margin-left: 100px;
	}

	.cta-left::before {
		content: none;
	}

	.advants {
		height: 80px;
		gap: 70px;
	}

	.advants-item {
		padding: 10px 0;
		position: relative;
	}

	.advants-img-w img {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 10px;
	}

	.advants-img-w {
		margin-right: -25px;
	}

	.advants-text {
		font-size: 10px;
	}
}

@media (max-width: 900px) {
	.top-2-contacts {
		margin-left: 25px;
	}

	.top-menu-2 {
		font-size: 12px;
		gap: 0px;
		padding: 0 25px;
		height: 30px;
	}

	.top-menu-2  a{
		font-size: 12px;
		gap: 0px;
		padding: 0 20px;
		height: 30px;
	}

	.top-3-w {
		width: 100%;
		margin-left: -225px;
	}
}

@media (max-width: 850px) {
	.top-menu-1 {
		font-size: 10px;
	}

	.user-link {
		font-size: 10px;
		padding-left: 40px;
	}

	.logo span {
		font-size: 9px;
	}

	.top-phone {
		font-size: 10px;
	}

	.top-phone-label {
		font-size: 9px;
	}

	.top-2-btn {
		font-size: 10px;
		padding: 10px 19px;
	}

	.top-2-contacts {
		margin-left: 100px;
	}

	.top-2 {
		padding: 10px 0px 5px 0px;
	}

	.top-menu-2 a {
		font-size: 10px;
		gap: 70px;
		padding: 0 30px;
		height: 30px;
	}

	.top-3-w {
		width: 100%;
		margin-left: -225px;
		padding: 5px 0;
	}

	.cta {
		padding-top: 50px;
		height: 450px;
	}

	.cta-right {
		width: 200px;
		height: 187px;
		margin-right: 50px;
	}

	.cta-form-title {
		font-size: 12px;
		text-align: center;
		margin-bottom: 11px;
	}

	.cta-form {
		padding: 20px 25px 30px 25px;

	}

	.cta-input {
		height: 27px;
		width: 137px;
		margin-bottom: 11px;
		font-size: 8px;
		margin-left: 5px;
	}

	.cta-btn {
		font-size: 8px;
		padding: 8px 5px 6px 5px;
		width: 137px;
		margin-left: 5px;
	}

	.cta-title {
		font-size: 27px;
		line-height: 36px;
		margin-bottom: 20px;
	}

	.cta-subtitle {
		font-size: 12px;
		line-height: 14px;
	}

	.cta-left {
		margin-left: 100px;
	}

	.cta-left::before {
		content: none;
	}

	.advants {
		height: 80px;
		gap: 40px;
	}

	.advants-item {
		padding: 10px 0;
		position: relative;
	}

	.advants-img-w img {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 10px;
	}

	.advants-img-w {
		margin-right: -30px;
	}

	.advants-text {
		font-size: 10px;
	}

}

@media (max-width: 825px) {
	.top-2-contacts {
		margin-left: 50px;
	}
}

@media (max-width: 768px) {
	.top-2-contacts {
		margin-left: 0;
	}

	.top-menu-2 a{
		font-size: 10px;
		gap: 0px;
		padding: 0 20px;
		height: 30px;
	}

	.top-3-w {
		width: 100%;
		margin-left: -265px;
		padding: 5px 0;
	}
}

@media (max-width: 720px) {
	.top-2-contacts {
		margin-left: 150px;
	}

	.top-2-col {
		display: none;
	}

	.top-menu-2 {
		gap: 0px;
	}

	.top-menu-2 a{
		font-size: 10px;
		gap: 0px;
		padding: 0 20px;
		height: 30px;
	}

	.top-3-w {
		width: 100%;
		margin-left: -285px;
		padding: 5px 0;
	}
}

@media (max-width: 668px) {
	.top-1 {
			}

	.user-link {
		right: 0;
		top: 13px;
		position: absolute;
	}

	.top-2-btn {
		height: 35px;
	}

	.top-2-contacts {
		margin-left: -10px;
	}

	.top-2-btn-phone {
		display: block;
	}

	.top-menu-2 a{
		font-size: 10px;
		gap: 0px;
		padding: 0 15px;
		height: 30px;
	}

	.top-3-w {
		width: 100%;
		margin-left: -310px;
		padding: 5px 0;
	}
}

@media (max-width: 640px) {
	.top-3 {
		display: none;
	}

	.top-2 {
		padding-top: 20px;
		height: 105px;

	}

	.top-2-contacts {
		margin-left: -530px;
		padding-bottom: 10px;
		padding-top: 20px;
		margin-bottom: -75px;
	}

	.top-2-btn {
		width: 130px;
		height: 30px;
	}

	.top-2-btn-phone {
		width: 130px;
		height: 30px;
		padding-top: 8px;
	}

	.logo-img {
		display: none;
	}

	.logo-mini {
		display: block;
	}

	.logo span {
		padding-left: 20px;
	}

	.header__burger-btn {
		display: block;
	}
}
